body {
    background-color: #d5e1ef;   
}
.code {
    background-color: rgb(231, 237, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 280px;
    border-radius: 13px;
    margin: auto;
    text-align: center;
    top:  200px;

    

}
img {
    border-radius: 13px;
    margin-top: -3px;
}

.p {
    font-size: 14px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgba(102, 101, 101, 0.575);
}
h3 {
    margin-top: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
   
 